<!DOCTYPE html>
<html>
  <head>
    <title>Pizza chooser</title>

<script src="data.js"></script>
<script src="/static/code.js"></script>
<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen">
  </head>

  <body>

<p>
<a href="http://github.com/ykarikos/pizzachooser"><img style="position: absolute; top:
0; right: 0; border: 0;"
src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
alt="Fork me on GitHub"></a>

{% if toppings %}

<div id="toppings">
<table>
<tr>
<th class="must">must have</th>
<th class="not">must not have</th>
</tr>

<tr><td class="must">
<ul>
    {% for topping in toppings %}
    {% with t=topping.name|cut:" " %}
<li>
<input type="checkbox" id="{{ t }}On" onClick="mustHave(this)">
<label for="{{t}}On" id="{{t}}OnLabel">{{ topping }}</label>
</li>
    {% endwith %}
    {% endfor %}
</ul>
</td>
<td class="not">
<ul>
    {% for topping in toppings %}
    {% with t=topping.name|cut:" " %}
<li>
<input type="checkbox" id="{{t}}Off" onClick="notAllowed(this)">
<label for="{{t}}Off" id="{{t}}OffLabel">{{ topping }}</label>
</li>
    {% endwith %}
    {% endfor %}
<ul>
</td>
</tr>
</table>
</div>


{% else %}
    <p>No toppings are available.</p>
{% endif %}

{% if pizzerias %}
<div id="pizzas">
    {% for p in pizzerias %}
        <h2>{% if p.url %}<a href="{{p.url}}">{{p.name}}</a>{% else %}{{p.name}}{% endif %}</h2>
	  <ul>
	  {% for pizza in p.pizza_set.all|dictsort:"number" %}
	  <li id="pizza{{pizza.id}}">{{pizza.number}}. {{pizza.name}}
          <ul>
	    {% for t in pizza.toppings.all %}
	    <li>{{t.name}}</li>
	    {% endfor %}
	  </ul>
	  </li>
	  {% endfor %}
	  </ul>
    {% endfor %}
</div>
{% else %}
    <p>No pizzerias are available.</p>
{% endif %}

</body>
</html>

