<!DOCTYPE html>
<html>
  <head>
    <title>Pizza chooser</title>

<script src="data.js"></script>
<script src="/static/code.js"></script>

<style>
table, th, td {
      border: 1px solid;
      border-collapse: collapse;
      padding: 2px 10px;
}

td li {
      list-style: none;
}
td ul {
      margin: 0;
      padding: 0;
}
</style>
  </head>

  <body>

    <h1>Pizza chooser</h1>

{% if toppings %}

<table>
<tr>
<th>must have</th>
<th>must not have</th>
</tr>

<tr><td>
<ul>
    {% for topping in toppings %}
    {% with t=topping.name|cut:" " %}
<li>
<input type="checkbox" id="{{ t }}On" onClick="mustHave(this)">
<label for="{{t}}On" id="{{t}}OnLabel">{{ topping }}</label>
</li>
    {% endwith %}
    {% endfor %}
</ul>
</td>
<td>
<ul>
    {% for topping in toppings %}
    {% with t=topping.name|cut:" " %}
<li>
<input type="checkbox" id="{{t}}Off" onClick="notAllowed(this)">
<label for="{{t}}Off" id="{{t}}OffLabel">{{ topping }}</label>
</li>
    {% endwith %}
    {% endfor %}
<ul>
</td>
</tr>
</table>


{% else %}
    <p>No toppings are available.</p>
{% endif %}

{% if pizzerias %}
    {% for p in pizzerias %}
        <h2>{% if p.url %}<a href="{{p.url}}">{{p.name}}</a>{% else %}{{p.name}}{% endif %}</h2>
	  <ul>
	  {% for pizza in p.pizza_set.all|dictsort:"number" %}
	  <li id="pizza{{pizza.id}}">{{pizza.number}}. {{pizza.name}}
          <ul>
	    {% for t in pizza.toppings.all %}
	    <li>{{t.name}}</li>
	    {% endfor %}
	  </ul>
	  </li>
	  {% endfor %}
	  </ul>
    {% endfor %}
{% else %}
    <p>No pizzerias are available.</p>
{% endif %}

</body>
</html>

