<!DOCTYPE html>
<html>
  <head>
    <title>Pizza chooser</title>

<script src="/pizza/data.js"></script>
<script src="/static/code.js"></script>
<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen">
<script type="text/javascript">
function resizeColumns() {
    var height = document.documentElement.clientHeight;
    height -= 25;
    document.getElementById('pizzas').style.height = height + "px";
}
window.onresize = resizeColumns;
</script>
</head>
<body onLoad="resizeColumns()">

<p>
<a href="http://github.com/ykarikos/pizzachooser"><img style="position: absolute; top:
0; right: 0; border: 0;"
src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
alt="Fork me on GitHub"></a>

{% if toppings %}

<div id="toppings">
<table>
<tr>
<th class="must">must have</th>
<th class="not">must not have</th>
</tr>

<tr><td class="must">
<ul>
    {% for topping in toppings %}
    {% with t=topping.name|cut:" " %}
<li>
<input type="checkbox" id="{{ t }}On" onClick="mustHave(this)">
<label for="{{t}}On" id="{{t}}OnLabel">{{ topping }}</label>
</li>
    {% endwith %}
    {% endfor %}
</ul>
</td>
<td class="not">
<ul>
    {% for topping in toppings %}
    {% with t=topping.name|cut:" " %}
<li>
<input type="checkbox" id="{{t}}Off" onClick="notAllowed(this)">
<label for="{{t}}Off" id="{{t}}OffLabel">{{ topping }}</label>
</li>
    {% endwith %}
    {% endfor %}
</ul>
</td>
</tr>
</table>
</div>


{% else %}
    <p>No toppings are available.</p>
{% endif %}

{% if pizzerias %}
<div id="pizzas">
    {% for p in pizzerias %}
        <h2>{% if p.url %}<a href="{{p.url}}">{{p.name}}</a>{% else %}{{p.name}}{% endif %}</h2>
	  <ul>
	  {% for pizza in p.pizza_set.all|dictsort:"number" %}
	  <li id="pizza{{pizza.id}}">{{pizza.number}}. {{pizza.name}}
          <ul>
	    {% for t in pizza.toppings.all %}
	    <li{% if forloop.last %}class="last"{% endif %}>{{t.name}}</li>
	    {% endfor %}
	  </ul>
	  </li>
	  {% endfor %}
	  </ul>
    {% endfor %}
</div>
{% else %}
    <p>No pizzerias are available.</p>
{% endif %}

</body>
</html>

